*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

a{
  color:inherit;
  text-decoration: none;
}

/* .roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */
/* 
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
} */

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__top{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.logo{
  margin-left:15px;
}

.phone{
  margin-right: 45px;
  margin-top: 10px;
}

.menu{
  margin-top: 15px;
}

.menu__list{
  display: flex;
}

.menu__item + .menu__item{
  margin-left:30px;
}

.menu__link{
  text-transform: uppercase;
  font-weight: 500;
  color:rgb(0, 30, 100);
  font-size: 18px;
  line-height: 21px;
}

.menu__link:hover{
  border-bottom: 1px solid rgb(0, 30, 100); 
}

.header__content{
  background-image: url(../images/bg.jpeg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 20px;
  margin-top: -110px;
  min-height: calc(100vh - 41px);
}

.title{
  color:rgb(0, 30, 100);
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 95px;
  max-width: 590px;
  padding-top: 134px;
  padding-left: 110px;
  margin-bottom: 60px;
}

.header-slider{
  max-width: 520px;
  padding-left: 110px;
  padding-top: 50px;
  padding-bottom: 135px;
}

.header__slider-text{
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 22px;
  color:white; 
}

.slick-prev, .slick-next{
  border:none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  position: absolute;
  left:40px;
}
.slick-prev{
  bottom:0;
}

.slick-next{
  top:0; 
}

.slick-dots{
  list-style: none;
  position: absolute;
  left: 35px;
  top: 52px;
  bottom: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slick-dots button{
  border:none;
  background-color: transparent;
  padding: 0;
  color:#fff;
  font-size: 24px;
  line-height: 28px;
  opacity: 0.5;
  cursor: pointer;
}

.slick-active button {
  opacity:1; 
}

.slick-dots button::before{
  content: '0';
}

.slick-dots li:nth-child(n + 10) button::before{
  content:''; 
}

.header__content-btn{
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  color:#fff;
  font-size: 23px;
  line-height: 32px;
  padding: 14px 88px;
  border-radius:20px;
  background-color: rgba(255,255,255,.5);
  margin-left: 110px;
  display: inline-block;
  transform:translateY(-100px);
  position: absolute;
}

.header__content-box{
  display: flex;
  margin-left: 100%;
  margin-right: 30px;
  font-size: 18px;
  line-height: 21px;
  color:#fff;
}

.header__content-link--active{
  font-weight: 700;
}

.product{
  padding-top: 100px;
}

.product__inner{
  display: flex;
  justify-content: space-between;
}

.product__name{
  width: 510px;
  text-align: center;
}

.product__name-item + .product__name-item{
  margin-top: 30px;
}

.product__content{
  width: 600px;
}